<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="layout/style.css" />
<title>Sistema Alunos</title>
</head>
<body>
	<div class="content">
		<div class="titulo">
			<h1>
				Sistema de Cadastro<br>de Alunos
			</h1>
		</div>
		<div class="menu">
			<a href="\Sistema\ListaJSP.jsp">Listar<br>Alunos
			</a> <a href="\Sistema\BuscaJSP.jsp">Buscar<br>Aluno
			</a> <a href="\Sistema\IncluiJSP.jsp">Incluir<br>Aluno
			</a>
		</div>
		<div class="tabela">