<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sistema</display-name>
  <welcome-file-list>
    <welcome-file>ListaJSP.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListaServlet</display-name>
    <servlet-name>ListaServlet</servlet-name>
    <servlet-class>br.ufsc.SistemaCadastroAlunos.servlet.ListaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaServlet</servlet-name>
    <url-pattern>/ListaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormularioEditaServlet</display-name>
    <servlet-name>FormularioEditaServlet</servlet-name>
    <servlet-class>br.ufsc.SistemaCadastroAlunos.servlet.FormularioEditaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioEditaServlet</servlet-name>
    <url-pattern>/FormularioEditaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessaEditaServlet</display-name>
    <servlet-name>ProcessaEditaServlet</servlet-name>
    <servlet-class>br.ufsc.SistemaCadastroAlunos.servlet.ProcessaEditaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessaEditaServlet</servlet-name>
    <url-pattern>/ProcessaEditaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormularioDeletaServlet</display-name>
    <servlet-name>FormularioDeletaServlet</servlet-name>
    <servlet-class>br.ufsc.SistemaCadastroAlunos.servlet.FormularioDeletaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioDeletaServlet</servlet-name>
    <url-pattern>/FormularioDeletaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessaDeletaServlet</display-name>
    <servlet-name>ProcessaDeletaServlet</servlet-name>
    <servlet-class>br.ufsc.SistemaCadastroAlunos.servlet.ProcessaDeletaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessaDeletaServlet</servlet-name>
    <url-pattern>/ProcessaDeletaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessaIncluiServlet</display-name>
    <servlet-name>ProcessaIncluiServlet</servlet-name>
    <servlet-class>br.ufsc.SistemaCadastroAlunos.servlet.ProcessaIncluiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessaIncluiServlet</servlet-name>
    <url-pattern>/ProcessaIncluiServlet</url-pattern>
  </servlet-mapping>
</web-app>